<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="d7c2fb53-6fec-40ea-8708-4a1470249ed9" Publisher="CN=Krishna" Version="1.1.0.0" />
  <Properties>
    <DisplayName>Tell Clock</DisplayName>
    <PublisherDisplayName>PriLee</PublisherDisplayName>
    <Logo>storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="tellclock.App">
      <Extensions>
        <Extension Category="windows.backgroundTasks" StartPage="MainPage.xaml">
          <BackgroundTasks>
            <Task Type="audio" />
          </BackgroundTasks>
        </Extension>
      </Extensions>
      <m2:VisualElements DisplayName="Tell Clock" Description="tell clock" BackgroundColor="#ff5409" ForegroundText="light" Square150x150Logo="icon 150x150.png" Square30x30Logo="icon 30x30.png">
        <m2:DefaultTile ShortName="Clock" Wide310x150Logo="icon 310x150.png">
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
            <m2:ShowOn Tile="wide310x150Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:InitialRotationPreference>
          <m2:Rotation Preference="portrait" />
          <m2:Rotation Preference="landscape" />
          <m2:Rotation Preference="portraitFlipped" />
          <m2:Rotation Preference="landscapeFlipped" />
        </m2:InitialRotationPreference>
        <m2:SplashScreen Image="SplashScreen.png" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="musicLibrary" />
    <Capability Name="picturesLibrary" />
    <Capability Name="internetClient" />
    <DeviceCapability Name="location" />
  </Capabilities>
</Package>